### Técnicas de Amostragem de Dados.

![alt text](https://minerandodados.com.br/wp-content/uploads/2020/05/probability-sampling-1.png)

### Amostragem Aleatória Simples

Um determinado número de elementos é retirado da população de forma aleatória.

In [1]:
import pandas as pd

Carregando a base de dados.

In [2]:
df = pd.read_csv("covid19.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50982 entries, 0 to 50981
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   case_id             0 non-null      float64
 1   provincial_case_id  50982 non-null  int64
 2   age                 50982 non-null  object
 3   sex                 50982 non-null  object
 4   health_region       50982 non-null  object
 5   province            50982 non-null  object
 6   country             50982 non-null  object
 7   date_report         50982 non-null  object
 8   report_week         50982 non-null  object
 9   has_travel_history  1150 non-null   object
 10  locally_acquired    574 non-null    object
 11  case_source         50982 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 4.7+ MB

In [4]:
df.head()

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,NaN,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
1,NaN,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,NaN,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...
3,NaN,3,20-29,Female,Middlesex-London,Ontario,Canada,2020-01-31,2020-01-26,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
4,NaN,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...

Criando uma amostra com apenas 1000 registros a partir do conjunto de dados.

In [5]:
df_sample = df.sample(n=1000)

In [6]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 17216 to 30166
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   case_id             0 non-null      float64
 1   provincial_case_id  1000 non-null   int64
 2   age                 1000 non-null   object
 3   sex                 1000 non-null   object
 4   health_region       1000 non-null   object
 5   province            1000 non-null   object
 6   country             1000 non-null   object
 7   date_report         1000 non-null   object
 8   report_week         1000 non-null   object
 9   has_travel_history  22 non-null     object
 10  locally_acquired    11 non-null     object
 11  case_source         1000 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 101.6+ KB

Especificando o tamanho da amostra através do percentual.

In [7]:
df_sample = df.sample(frac=0.10)

In [8]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5098 entries, 48402 to 25779
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   case_id             0 non-null      float64
 1   provincial_case_id  5098 non-null   int64
 2   age                 5098 non-null   object
 3   sex                 5098 non-null   object
 4   health_region       5098 non-null   object
 5   province            5098 non-null   object
 6   country             5098 non-null   object
 7   date_report         5098 non-null   object
 8   report_week         5098 non-null   object
 9   has_travel_history  112 non-null    object
 10  locally_acquired    52 non-null     object
 11  case_source         5098 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 517.8+ KB

### Amostragem Aleatória Estratificada

Importando o método train_test_split para fazer a amostragem.

In [9]:
from sklearn.model_selection import train_test_split

Contagem de registro.

In [10]:
df['province'].value_counts()

Quebec           25757
Ontario          16337
Alberta           4850
BC                2053
Nova Scotia        915
Saskatchewan       366
Manitoba           272
NL                 258
New Brunswick      118
PEI                 27
Repatriated         13
Yukon               11
NWT                  5
Name: province, dtype: int64

Gerando a amostragem estratificada.

In [11]:
#irá gerar uma amostra que irá seguiur em relação as provincias, portanto mantera uma porcentagem por cada provincia. Terá 20% de cada valor unico

X_train, X_test, y_train, y_test = train_test_split(df.drop('province',axis=1),# - X
                                                    df['province'],# - Y
                                                    stratify=df['province'],
                                                    test_size=0.20)

Verificando a forma dos dados.

In [13]:
y_train.shape

(40785,)

In [12]:
y_test.shape

(10197,)

Verificando a contagem de registros.

In [14]:
y_test.value_counts()

Quebec           5152
Ontario          3267
Alberta           970
BC                411
Nova Scotia       183
Saskatchewan       73
Manitoba           54
NL                 52
New Brunswick      24
PEI                 5
Repatriated         3
Yukon               2
NWT                 1
Name: province, dtype: int64

### Amostragem Sistemática

Gerando a semente aleatória

In [16]:
import numpy as np

In [21]:
semente = np.random.choice(10, 1)

In [22]:
semente

array([2])

Gerando índices a partir da semente.

In [28]:
indices = np.arange(0,len(df),semente)

In [29]:
indices

array([    0,     2,     4, ..., 50976, 50978, 50980])

Gerando a amostra a partir dos índices.

In [30]:
amostra = df.loc[indices,:]

Verificando os dados da amostra.

In [31]:
amostra

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,has_travel_history,locally_acquired,case_source
0,NaN,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,t,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...
2,NaN,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...
4,NaN,2,50-59,Female,Vancouver Coastal,BC,Canada,2020-02-04,2020-02-02,f,Close Contact,https://news.gov.bc.ca/releases/2020HLTH0023-0...
6,NaN,4,30-39,Female,Vancouver Coastal,BC,Canada,2020-02-06,2020-02-02,t,NaN,https://news.gov.bc.ca/releases/2020HLTH0025-0...
8,NaN,6,30-39,Female,Fraser,BC,Canada,2020-02-20,2020-02-16,t,NaN,(1) https://news.gov.bc.ca/releases/2020HLTH00...
...,...,...,...,...,...,...,...,...,...,...,...,...
50972,NaN,16328,Not Reported,Not Reported,York,Ontario,Canada,2020-04-28,2020-04-26,NaN,NaN,https://www.york.ca/wps/portal/yorkhome/health...
50974,NaN,16330,Not Reported,Not Reported,York,Ontario,Canada,2020-04-28,2020-04-26,NaN,NaN,https://www.york.ca/wps/portal/yorkhome/health...
50976,NaN,16332,40-49,Male,Thunder Bay,Ontario,Canada,2020-04-28,2020-04-26,NaN,NaN,https://www.tbdhu.com/status
50978,NaN,16334,Not Reported,Not Reported,Peterborough,Ontario,Canada,2020-04-28,2020-04-26,NaN,NaN,https://www.peterboroughpublichealth.ca/your-h...
50980,NaN,16336,Not Reported,Not Reported,Peterborough,Ontario,Canada,2020-04-28,2020-04-26,NaN,NaN,https://www.peterboroughpublichealth.ca/your-h...

Contagem de registros.

In [32]:
amostra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25491 entries, 0 to 50980
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   case_id             0 non-null      float64
 1   provincial_case_id  25491 non-null  int64
 2   age                 25491 non-null  object
 3   sex                 25491 non-null  object
 4   health_region       25491 non-null  object
 5   province            25491 non-null  object
 6   country             25491 non-null  object
 7   date_report         25491 non-null  object
 8   report_week         25491 non-null  object
 9   has_travel_history  571 non-null    object
 10  locally_acquired    285 non-null    object
 11  case_source         25491 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 2.5+ MB